.ContentRow {
    display: flex;
    justify-content: space-between;

    gap: 20px;

    width: calc(100% - 80px);
    margin: 0 auto;
    margin-top: 20px;
}
.ContentRow div {
    background: var(--color);
    border-radius: var(--border-radius);
    padding: 40px;
}

.one { width: 60%;}
.two { width: 40%;}