@font-face {
    font-family: "Gilroy";
    src:
      url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
  }

@font-face {
    font-family: "Gilroy";
    src:
      url("../fonts/Gilroy-Regular.woff") format("woff");
    font-weight: 400;
  }